@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
/* @import url('animation.css'); */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 16px;
}

body{
font-family: 'Open Sans';
  }

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 16px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }




  [class*="col-"]{
      background-color:transparent;
	  border:none;
	  padding:0px;
  }
  .col-xs-2.PD-set.time.font-big strong {
    line-height: 30px;
    display: block;
}
  .bg-color{
    background: #000;
    border-bottom: solid 2px #131313;
  }
  
  .bg-color-tr{
  background:transparent;
  border:none;
  margin-bottom:20px;
  }
  
  .bg-color-dark{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#43ceff+0,0063d7+100 */
background: #43ceff; /* Old browsers */
background: -moz-linear-gradient(top,  #43ceff 0%, #0063d7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #43ceff 0%,#0063d7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #43ceff 0%,#0063d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43ceff', endColorstr='#0063d7',GradientType=0 ); /* IE6-9 */	
	border-bottom:0px;
  }
  .bg-color p{
    font-size:14px;
    margin-bottom:0px;
    font-size: 11px;
  }
  .time{
	 color: #fff;
	 font-size: 18px;
	 padding: 4px 20px 0;
	
  }
  
  .time-font{
  font-family: 'Squada One';
  padding-top:10px !important;
  letter-spacing: 5px;
  font-size: 24px;
  text-shadow: 1px 2px 0px #2813eb;
  }
  
  .date-font{
      font-size: 22px;
  }
  .list-PD-top {
    display: flex;
      flex-direction: row;
      align-items: center;
      width: 251px;
  }
  .tags-info {
    width: 230px;
  }
  .list-wether-svg-image {
    width: 50px;
  }
  .PD-top{
  padding-top: 10px;
  }
  
  .small, small {
    font-size: 65%;
}

.time-big{
 font-family: 'Squada One';
 color:#fff;
}

.time-big h1 , .time-big p{
text-transform:uppercase;
margin:0px;
padding: 0px 20px 0;

}

.time-big p{
font-family: 'Open Sans';
}

.time-big h1 {
font-size:36px;
letter-spacing: 7px;
text-shadow: 2px 4px 0px #2813eb;
}

.time-big span:first-child{
 padding: 0 0 0 5px;
}
.time-big span {
    padding: 0 0 0 17px;
}
.time-big p{
  font-size: 10px;
}

.time-big span:last-child {
    padding: 0 0 0 11px;
}

.update_btn{
background:#515151;
padding:5px 10px;
border-radius:4px;
color:#000;	
font-style:normal;
text-transform:uppercase;
font-weight:bold;
margin-bottom:6px;
}

.it-text{
font-style:italic;
padding:10px 0;
}

.sunny-body path {
    fill: #ecc850;
}

.sunny-short-ray path{
	fill: #ecc850;
}
.sunny-long-ray path{
	fill: #ecc850;
}

.live-rocket span{
font-size:60px;
}

.live-rocket strong{
font-size:35px;
}
.live-time{
  font-size: 30px;
  line-height: 28px;
  font-weight: bold;

}
.PD-set.time.font-big {
  position: relative;
  left: 14px;
}
.PD-set{
padding: 0px 0 0;
margin: 0px;
}
.time.PD-set.PD-top.date-font {
  position: relative;
  top: 0px;
}
.live-rocket {
  line-height: 39px;
  position: relative;
}
.PD-set.time.font-big div {
  line-height: 32px;
}
.bg-color.bg-color-dark {
  display: flex;
  align-items: center;
}

.font-big{
font-size: 32px;
}

.font-big p{
font-size:15px;	
}

 .bg-icon .icon {
    width: 42px;
    height: 42px;
}
.col-xs-12.bg-color {
  display: flex;
  align-items: center;
}
.mius-mr{
	    position: relative;
    
}
.header-icon {
  width:22%
}
.time.PD-set .weather {
  margin-top: -85px;
  transform: scale(0.5);
  position: absolute;
  top: -15px;
  left: -45px;
}

.col-xs-1.time.PD-set {
  position: relative;
  /* width: 100%; */
}
.header-icon img {width:100%;}
.header-icon {position:relative; overflow: hidden;}
.header-icon:after {
  width: 38%;
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  right: -48px;
  background: linear-gradient(to bottom, #43ceff 0%,#0063d7 100%);
  height: 134%;
  -webkit-filter: blur(19px);
  filter: blur(19px);
}
.header-icon:before {
  width: 38%;
  content: '';
  display: block;
  position: absolute;
  top: -24px;
  right: -81px;
  background: linear-gradient(to bottom, #43ceff 0%,#0063d7 100%);
  height: 134%;
  -webkit-filter: blur(19px);
  filter: blur(-4px);
}
.loading-start{
  /* background-color: #10a015; 
  -webkit-transition: background-color 2000ms linear;
    -moz-transition: background-color 2000ms linear;
    -o-transition: background-color 2000ms linear;
    -ms-transition: background-color 2000ms linear;
    transition: background-color 2000ms linear;
  opacity:1; */
  background-color: #10a015; 
  width: 50px;
  height: 50px;
  -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;
  -moz-animation: NAME-YOUR-ANIMATION 1s infinite;
  -o-animation: NAME-YOUR-ANIMATION 1s infinite;
  animation: NAME-YOUR-ANIMATION 1s infinite;
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%, 49% {
    background-color: rgb(117, 209, 63);
  }
}